/Setup/output/*.exe
/Setup/bin/FSharp.Core.dll
/Setup/bin/ItemRandomizer.dll
/Setup/bin/ItemRandomizer.pdb
/Setup/bin/SMDIRandomizer.exe
/Setup/bin/SMDIRandomizer.exe.config
/Setup/bin/SMDIRandomizer.pdb
/Setup/bin/cs/FSharp.Core.resources.dll
/Setup/bin/de/FSharp.Core.resources.dll
/Setup/bin/en/FSharp.Core.resources.dll
/Setup/bin/es/FSharp.Core.resources.dll
/Setup/bin/fr/FSharp.Core.resources.dll
/Setup/bin/it/FSharp.Core.resources.dll
/Setup/bin/ja/FSharp.Core.resources.dll
/Setup/bin/ko/FSharp.Core.resources.dll
/Setup/bin/pl/FSharp.Core.resources.dll
/Setup/bin/pt-BR/FSharp.Core.resources.dll
/Setup/bin/ru/FSharp.Core.resources.dll
/Setup/bin/tr/FSharp.Core.resources.dll
/Setup/bin/zh-Hans/FSharp.Core.resources.dll
/Setup/bin/zh-Hant/FSharp.Core.resources.dll
